# Database
DB_NAME = shortify_ai
DB_USER = your_username
DB_PASSWORD = your_password
DATABASE_URL = postgresql://your_username:your_password@localhost:5432/shortify_ai

# Google AI Studio Key
GEMINI_API_KEY = AIxxxxx...... [your Gemini API]

# GROQ API KEY
GROQ_API_KEY = gsk_xxxxxxxxxx..... [your Groq API]

# secrets
SECRET_KEY = "your_secret_key"
ALGORITHM = "HS256"